@import './../../assets/colors.scss';

.panel-conatiner {
    padding: 20px;
    height: 30px;

    ul li {
        display: flex;
        align-items: center;

        p {
            margin-right: 10px;
            width: 100px;
        }
        
        input {
            width: 100px;
            height: 20px;
            border-radius: 2px;
            border: 1px solid $gray;
        }
        input[type='checkbox'] {
            width: 17px;
            height: 17px;
            margin: 0px;
            margin-left: 0px;
        }
    }
}