.biology2 {
    background-color: #00b248;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;

    .UkladRuchu {
        background-color: #00e676;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 92, 120, 0.1);
    }

    .Kregoslup {
        background-color: #00e676;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 92, 120, 0.1);
    }

    .UpAndDown {
        background-color: #00e676;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 92, 120, 0.1);
    }

    .BuildBone {
        background-color: #00e676;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 92, 120, 0.1);
    }

    .Muscle {
        background-color: #00e676;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 92, 120, 0.1);
    }

    .MuscleEnergy {
        background-color: #00e676;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 92, 120, 0.1);
    }
    
    img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
}