@import './../../assets/colors';

.articles-container {
    height: 200px;
    background: $articlesBg;
    padding: 20px;
    color: $black;
    background-image: url(https://tapety.tja.pl/obrazki/tja_normalne/213479.jpg);
    background-size: cover;
}