@import '../../assets/colors.scss';

.header-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlxEiI10HgF9vihJwNdiDshrRwgG75x6iDsQ&usqp=CAU');
    .header {
        background: $blackLight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 70%;
        border-radius:10px;

        h1 {
            color: $white;
            font-size: 16px;
        }
    }
    .btn {
        &--admin {
            background: $btnAdmin;
            color: $black;

            &:hover {
                background: $btnAdminHover;
            }
        }
    }
}
