@import './../../assets/colors';

.footer-container {
    height: 80px;
    background: $footerBg;
    padding: 20px;
    color: $white;
    margin-top: 2px;
    border-radius: 10px;

    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    p a {
        color: $white;
    }
}