$white: white;
$blackLight: #A29F9F;
$btn: #607d8b;
$btnHover: #546e7a;
$btnAdmin: #F2F0F0;
$btnAdminHover: #f2f0f0cc;
$sliderBg: #4fc3f7;
$articlesBg: #ab47bc;
$footerBg: #545454;
$gray: gray;
$black: black;
$lightGrey: #A29F9E;
$darkPink: #A29F9E;
$darkLightPink: #e91e63;