$white: white;
$blackLight: #A29F9F;
$btn: #607d8b;
$btnHover: #546e7a;
$btnAdmin: #F2F0F0;
$btnAdminHover: #f2f0f0cc;
$sliderBg: #4fc3f7;
$articlesBg: #ab47bc;
$footerBg: #545454;
$gray: gray;
$black: black;
$lightGrey: #A29F9E;
$darkPink: #A29F9E;
$darkLightPink: #e91e63;
$aqua: aqua;
$biology-color: #4fc3f7;
$history-color: #ab47bc;
$lessons-color: #4fc3f7;
$loginBtn: #607d8b;
$loginBtnHover: #546e7a;
$history-background: #84a0fd;
$h1-background: #607d8b;
$h2-background: #546e7a;
$h3-background: #4fc3f7;