@import './../../assets/colors';

.slider-container {
    height: 400px;
    background: $sliderBg;
    padding: 20px;
    color: $white;
    background-image: url(https://rikoland.pl/data/include/img/news/1594756840.jpg);
    background-size: cover;
}